<div class="row">
        <div class="col-md-4 col-md-offset-4">
            <?php //$this->renderInfo(_LOGIN_INFO_); ?>
            <div class="panel panel-default">
                <?php $this->renderLoginError(); ?>
                <div class="panel-body">
                    <fieldset>
                        <legend><?php print $this->Msg('_LOGIN_','Login') ?></legend>
                        <form  method="POST">   
                            <div class="form-group">
                              
                                <input type="text" class="form-control" placeholder="<?php print $this->Msg('_EMAIL_','Email') ?>" name="<?php print LOGIN_EMAIL ?>" value="<?php //print $this->Controller->Email ?>"> 
                            </div>

                            <div class="form-group">
                                
                                <input type="password" class="form-control" placeholder="<?php print $this->Msg('_PASSWORD_','Password') ?>" name="<?php print LOGIN_PASSWORD ?>">
                            </div>

                            <div class="checkbox">
                                <label><input type="checkbox" name="<?php print LOGIN_REMEMBER_ME ?>" <?php if ($this->RememberMe) print 'checked' ?>><?php print $this->Msg('_REMEMBER_ME_','Remember Me') ?></label>
                            </div>
                            <input type="hidden" name="<?php print METHOD ?>" value="<?php print METHOD_LOGIN ?>">
                            <button class="btn btn-primary pull-right"><?php print $this->Msg('_LOGIN_','Login') ?></button>
                        </form>
                    </fieldset>
                </div>
            </div>   
        </div>  
    </div>   
<?php //   if( $back_url != false )   ?>
<!--      <input type="hidden" name="'.ACTION_BACK_URL.'" value="'.$back_url.'">
<input type=hidden name='.ACTION.' value='.ACTION_LOGIN_CHECK.'>
-->
