<div class="row">
	<div class="col-md-10">
		<div id="map-canvas" style="border:1px solid; height:600px; width:100%"></div>
	</div>
	<div class="col-md-2">
		<ul id="items"><!--
			<li><a href="#" onclick=panTo();>pozycja1</a></li>
			<li><a href="#">pozycja2</li>
			<li><a href="#">pozycja3</li>
	-->
		</ul>
	</div>
</div>

<script>
    
    var map;
    var infowindow;
    
    var places =
    [
        {"lat":51.2641800,"lon":15.5697000,"title":"<h1>Bolesławiec</h1>","text":"Opis bolesławca"},
        {"lat":51.2641800,"lon":15.6697000,"title":"<h1>Tomaszów</h1>","text":"Opis tomaszowa"},
        {"lat":51.5641800,"lon":15.6697000,"title":"<h1>aa</h1>","text":"opis czegoś"},
    ];
    
	function panTo()
	{
		map.panTo(curmarker.position);	
	}
	
    function initMap()
    {
        var mapStyle = [{'featureType': 'administrative', 'elementType': 'labels.text.fill', 'stylers': [{'color': '#444444'}]}, {'featureType': 'landscape', 'elementType': 'all', 'stylers': [{'color': '#f2f2f2'}]}, {'featureType': 'poi', 'elementType': 'all', 'stylers': [{'visibility': 'off'}]}, {'featureType': 'road', 'elementType': 'all', 'stylers': [{'saturation': -100}, {'lightness': 45}]}, {'featureType': 'road.highway', 'elementType': 'all', 'stylers': [{'visibility': 'simplified'}]}, {'featureType': 'road.arterial', 'elementType': 'labels.icon', 'stylers': [{'visibility': 'off'}]}, {'featureType': 'transit', 'elementType': 'all', 'stylers': [{'visibility': 'off'}]}, {'featureType': 'water', 'elementType': 'all', 'stylers': [{'color': '#4f595d'}, {'visibility': 'on'}]}];

        // Create the map
        map = new google.maps.Map(document.getElementById('map-canvas'),
        {
            zoom: 10,
            styles: mapStyle,
            center: new google.maps.LatLng(51.264, 15.569)
        });
    }
    
    function initinfoWindow()
    {
        infowindow = new google.maps.InfoWindow();
    }
        
    function createMarker(lat, lon, title, text)
    {
        return marker = new google.maps.Marker({
        position: new google.maps.LatLng(lat, lon),
        map: map,
        title: title,
        text: text
        });
    }
    
    function createInfoWindowEvent(m)
    {
        google.maps.event.addListener(m, 'click', function()
        {
            infowindow.setContent(m.title + '<br>' + m.text );
            infowindow.open(map, m);
        });
    }
	
	function createListItem(m)
	{
		var ul = document.getElementById("items");
		var li = document.createElement("li");
		li.innerHTML = m.title;
		ul.appendChild(li);
	}
    
    function init()
    {
        
        initMap();
        initinfoWindow();       
        
        for (var i = 0; i < places.length; i++)
        {
            var marker = createMarker(places[i].lat, places[i].lon, places[i].title,places[i].text);
            createInfoWindowEvent(marker);
			createListItem(marker);
        }
        
        /*    
         = createMarker(51.2641800,15.5697000,content('Bolesławiec','Opis bolesławca'));
        
        
        var marker = createMarker(51.2641800,15.6697000,content('Tomaszów','Opis tomaszowa'));
        createInfoWindowEvent(marker);
        */
    }
       
    
</script>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAtyXbZQiMV2BFDdztVuCZPfzN_rijV4_U&callback=init"></script>
<!--<script src="../../dist/snazzy-info-window.min.js"></script>-->


 




   


