<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Error</title>
<style type="text/css">
.center { width:600px; position:absolute; left:50%; top:50%; margin:-50px 0 0 -300px; border :0px solid; text-align: center; }
</style>
<base href="<?php print BASE_HREF ?>">
<link rel="stylesheet" href="../../style/maxkod/assets/bootstrap/css/bootstrap.min.css">
 <link rel="stylesheet" href="../../style/maxkod/assets/css/custom_min.css">
<link rel="stylesheet" href="../../style/maxkod/assets/css/pages-style_min.css">
<link rel="stylesheet" href="../../style/maxkod/assets/css/overwrite.css">
</head>
<body>    
    <div class="center">
        <h1><?php print $this->Title ?></h1>
        <h2><?php print $this->Text ?></h2>
        <p><a class="btn btn-default" href='<?php print BASE_HREF ?>'>go back</a></p>
    </div>
</body>
</html>
