<div id="page-header">
	<div class="row">
		<div class="col-sm-12">
			<h1><b><?php print $this->Msg('_CONTACT_','Contact') ?></b></h1>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="headline">				
				<h3><?php print $this->Msg('_CONTACT_FORM_','Contact Form'); ?></h3>
			</div><!-- headline -->		
		</div><!-- col -->
	</div><!-- row -->
</div><!-- container -->


<div class="container">
<div class="row">
    <div class="col-md-6">
        <form method="POST" enctype="multipart/form-data" id="form">
            <fieldset>
				<h6 class="text-uppercase"><?php print $this->Msg('_CONTACT_US_','Contact Us'); ?></h6>       
                        <div class="row">
							
                            <?php if($this->Saved) { ?> <div class="col-sm-12"><div class="alert alert-success"><?php print $this->Msg('_MESSAGE_SEND_','Message Send') ?></div></div> <?php } ?>
						
                             <div class="col-sm-12">
                               <!-- <label class="control-label"><?php print $this->Msg('_EMAIL_','Email') ?></label> -->
								<?php print $this->RenderValidationError($this->Email->ErrorText); ?>
								<div id="email"></div>
                                <input required onblur='Required(this,email);' class="col-xs-12" type="email" placeholder="<?php print $this->Msg('_EMAIL_','Email') ?>" name="<?php print CONTACT_EMAIL ?>" value="<?php print $this->Email->Value ?>">
							</div><!-- col -->
                            
							<div class="col-sm-12">
                                <!-- <label class="control-label"><?php print $this->Msg('_FIRST_NAME_','First Name') ?></label> -->
                                    <?php print $this->RenderValidationError($this->FirstName->ErrorText); ?>
                                <input class="col-xs-12" type="text" placeholder="<?php print $this->Msg('_FIRST_NAME_','First Name') ?>" name="<?php print CONTACT_FIRST_NAME ?>" value="<?php print $this->FirstName->Value ?>">
							</div><!-- col -->
							
                            <div class="col-sm-12">
                                <!-- <label class="control-label"><?php print $this->Msg('_LAST_NAME_','Last Name') ?></label> -->
                                <?php print $this->RenderValidationError($this->LastName->ErrorText); ?>
                                <input class="col-xs-12" type="text" placeholder="<?php print $this->Msg('_LAST_NAME_','Last Name') ?>" name="<?php print CONTACT_LAST_NAME ?>" value="<?php print $this->LastName->Value ?>">
                            </div>   
                            
                             <div class="col-sm-12">
                                <!-- <label class="control-label"><?php print $this->Msg('_PHONE_','Phone') ?></label> -->
								<?php print $this->RenderValidationError($this->Phone->ErrorText); ?>
                                <input class="col-xs-12" type="text" placeholder="<?php print $this->Msg('_PHONE_','Phone') ?>" name="<?php print CONTACT_PHONE ?>" value="<?php print $this->Phone->Value ?>">
							</div><!-- col -->
						
                            <div class="col-sm-12">
                                <!-- <label class="control-label"><?php print $this->Msg('_SUBJECT_','Subject') ?></label> -->
								<?php print $this->RenderValidationError($this->Subject->ErrorText); ?>
                                <input required class="col-xs-12" type="text" placeholder="<?php print $this->Msg('_SUBJECT_','Subject') ?>" name="<?php print CONTACT_SUBJECT ?>" value="<?php print $this->Subject->Value ?>">
                            </div><!-- col -->
                        
                            <div class="col-sm-12">
                                <!-- <label class="control-label"><?php print $this->Msg('_MESSAGE_','Message') ?></label> -->
                                <textarea  required class="col-xs-12" rows="10" cols="25" placeholder="<?php print $this->Msg('_MESSAGE_','Message') ?>" name="<?php print CONTACT_MESSAGE ?>"><?php print $this->Message->Value ?></textarea>
                            </div>
							  <div class="col-sm-12">
                            <div class="checkbox margin-bottom-201">
                            <label>
                                <?php if($this->Newsletter->Value)
                                { ?>
                                <input name="<?php print REGISTER_NEWSLETTER ?>" type="checkbox" checked>
                                <?php }else{ ?>
                                <input name="<?php print REGISTER_NEWSLETTER ?>" type="checkbox">
                                <?php } ?>
                                
                                <?php print $this->Msg('_REGISTER_NEWSLETTER_','Newsletter') ?>
                            
                            </label>
                            </div>
                        </div>                     
                            <div class="col-sm-12">
                                <input class="btn btn-default" id="submit" type="submit" name="submit" value="<?php print $this->Msg('_SEND_','Send') ?>">
                            </div>
                        <input type="hidden" name="<?php print METHOD ?>" value="<?php print METHOD_SAVE ?>">
                    </div><!-- row -->
                </fieldset>
        </form>			
	</div><!-- col -->
    <div class="col-md-6">
    	<div class="widget widget-contact">
            <h6 class="widget-title"><?php print $this->Msg('_CONTACT_TEXT_','Visit Us or Call') ?></h6>				
			<?php $this->RenderRegion('contact'); ?>
		</div><!-- widget-contact -->
    </div>
</div>



</div>
<br><br>
<iframe
  width="100%"
  height="450"
  frameborder="0" style="border:0; margin-bottom: -8px;"
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1247.8247385877798!2d15.5728777082367!3d51.28077098979926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470f35cc70686e87%3A0x9c57b4427ed1ed5e!2sKo%C5%9Bciuszki+62%2C+59-700+Boles%C5%82awiec!5e0!3m2!1spl!2spl!4v1482919375887" allowfullscreen>
</iframe>
<!--ifr ame src="htt ps://www.google.com/maps/embed/v1/place?key=AIzaSyATd0xNPW_H8Hdbn7VUFXPMMaBguGeeoOw
    &q=Space+Need le,Seattle+WA" wid th="640" height="480"></iframe-->