<div class="container">
     <h4 class="text-right" id="clock">maxkod</h4>
     <ul class="nav nav-tabs">
          <li class="active" role="presentation"><a data-toggle="pill" href="#page1"><?php print $this->Msg('_Menu_','Menu') ?></a></li>
          <li role="presentation"><a data-toggle="pill" href="#page2"><?php print $this->Msg('_INFO_','Info') ?></a></li>
     </ul>

     <div class="tab-content">
          <div id="page1" class="tab-pane fade in active">
          <div class="row">
               <?php //print 'space'.$this->GetDiskTotalSpace('/home/qotsa2/domains/old') ?>
               <?php //print 'free space'.$this->GetDiskFreeSpace('/home/qotsa2/domains/old') ?>
               </div>

          <div class="row"> 
               <?php $this->RenderTile(CTRL_USER,$this->Msg('_USERS_','Users'),'glyphicon glyphicon-user',$this->UserCount); ?>
               <?php $this->RenderTile(CTRL_CATEGORY,$this->Msg('_CATEGORIES_','Categories'),'glyphicon glyphicon-tags',$this->CategoryCount); ?>
               <?php $this->RenderTile(CTRL_LANG,$this->Msg('_LANGUAGES_','Languages'),'glyphicon glyphicon-flag',$this->LangCount); ?>
               <?php $this->RenderTile(CTRL_ROLE,$this->Msg('_ROLES_','Roles'),'glyphicon glyphicon-knight',$this->RoleCount); ?>
               <?php $this->RenderTile(CTRL_MSG,$this->Msg('_MSG_','Messages'),'glyphicon glyphicon-pencil',$this->MsgCount); ?>
               <?php $this->RenderTile(CTRL_BLOCK,$this->Msg('_BLOCKS_','Blocks'),'glyphicon glyphicon-modal-window',$this->BlockCount); ?>
               <?php $this->RenderTile(CTRL_MENU,$this->Msg('_MENU_','Menu'),'glyphicon glyphicon-menu-hamburger',$this->MenuCount); ?>
               <?php $this->RenderTile(CTRL_TEMPLATE,$this->Msg('_TEMPLATES_','Templates'),'glyphicon glyphicon-eye-open',$this->TemplateCount); ?>
               <?php $this->RenderTile(CTRL_CALENDAR,$this->Msg('_CALENDAR_','Calendar'),'glyphicon glyphicon-calendar',$this->CalendarCount); ?>
               <?php $this->RenderTile(CTRL_BACKUP,$this->Msg('_BACKUP_','Backup'),'glyphicon glyphicon glyphicon-floppy-save',0); ?>
          </div>
          <hr>
          <div class="row">
               <?php $this->RenderTile(CTRL_PAGE,$this->Msg('_PAGES_','Pages'),'glyphicon glyphicon-duplicate',$this->PageCount); ?>
               <?php //$this->RenderTile(CTRL_NEWS,$this->Msg('_NEWS_','News'),'glyphicon glyphicon-duplicate',$this->PageCount); ?>
               <?php //$this->RenderTile(CTRL_GALLERY,$this->Msg('_GALLERY_','Gallery'),'glyphicon glyphicon-duplicate',$this->PageCount); ?>
               <?php //$this->RenderTile(CTRL_PRODUCT,$this->Msg('_PRODUCT_','Product'),'glyphicon glyphicon-duplicate',$this->PageCount); ?>
          </div>
          <hr>
          <div class="row">
               <?php $this->RenderTile(CTRL_SETTINGS,$this->Msg('_SETTINGS_','Settings'),'glyphicon glyphicon-cog',0); ?>
               <?php $this->RenderTile(CTRL_LOGOUT,$this->Msg('_LOGOUT_','Logout'),'glyphicon glyphicon-off',0); ?>
          </div>
          <hr>
          </div>
          <div id="page2" class="tab-pane fade in">
           <div class="row">
               <?php $this->RenderTile(CTRL_UPDATE,$this->Msg('_UPDATE_','Update'),'glyphicon glyphicon-cog',0); ?>
          </div>
          </div>
     </div>
</div>

     
     
<script>
var myVar = setInterval(myTimer, 1000);

function myTimer()
{
    var d = new Date();
    document.getElementById("clock").innerHTML = d.toLocaleDateString() +' ' +d.toLocaleTimeString();
}
</script>
