<?php $this->RenderSelectedPage($this); ?>


                
   <?php 

$GalleryImages = $this->Model->GetImagesFromPage($this->CurrentItem->id_page);

$CountGalleryImages = count($GalleryImages);

if ($CountGalleryImages > 0) {
$GalleryCode = '';

foreach($GalleryImages AS $Image)
{
    $GalleryCode .= '<div class="col-md-6"><img src="'.$this->ImageUrl($Image->img, 'midi').'" alt=""></div>';
}
    ?>
    <section id="project-version-one" >
		<div class="container">
            <div class="" id="image-gallery-mix">
        <?php print $GalleryCode;?>
    
            </div>
        </div>
    </section>
 <?php   
}
	
?>             
            


