<?php //$this->RenderBlock('slider'); ?>
<?php //$this->RenderBlock('content_top'); ?>
<?php //$this->RenderSelectedPage($this); ?>


            <!--home Section -->
            <section id="home" class="home home1banner">
                <div class="container-fluid">
                    <div class="row">
                        <div id="xsslider" class="carousel home1_slider xs_slide_spread xsswipe slide_xs_ease kenburns_zoomInOut xs_indicators_line xs_control_square" data-ride="carousel" data-pause="hover" data-interval="false" data-duration="1000">
                            <!-- Wrapper For Slides -->
                            <div class="carousel-inner" role="listbox">

                                <div class="item active">
                                    <img src="assets/images/slide1.jpg" alt="home1bg" />
                                    <div class="overlay"></div>
                                    <!-- Slide Text Layer -->
                                    <div class="slide_style_3 slide_style_center">
                                        <div class="home_slider_text textwhite">
                                            <h1 >Nowoczesne Technologie Produkcji</h1>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <img src="assets/images/slide2.jpg" alt="home2bg" />
                                    <div class="overlay"></div>
                                    <!-- Slide Text Layer -->
                                    <div class="slide_style_3 slide_style_center">
                                        <div class="home_slider_text textwhite">
                                            <h1 >Innowacyjne Rozwiązania Konstrukcyjne</h1>
                                        </div>
                                    </div>
                                </div>

                               
                            </div>

                            <!-- Left Control -->
                            <a class="left carousel-control" href="#xsslider" role="button" data-slide="prev">
                                <span class="fa fa-angle-left" aria-hidden="true"></span>
                            </a>

                            <!-- Right Control -->
                            <a class="right carousel-control" href="#xsslider" role="button" data-slide="next">
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                            </a>

                        </div> <!-- End Bootstrap xsslider Slider -->

                    </div><!-- End off row -->
                </div><!-- End off container -->
            </section><!-- End off Home section -->

<!--Service section -->
            <section id="service" class="service">
                <div class="container">
                    <div class="row">
                        <div class="main_service p_t__b textwhite">
                            <div class="head_title text-center textblack">
                                <h2>Witamy na Stronie BFZ</h2>
                                <p>BFZ jest pionierem pod względem wprowadzania nowoczesnych technologii produkcji w branży pomocy drogowych do 3,5Tony. Firma rozwija własną myśl technologiczną, optymalizuje proces produkcyjny, wprowadza nowości techniczne.  Zespół konstruktorów i technologów opracowuje innowacyjne rozwiązania konstrukcyjne.</p>

                                <div class="separator"></div>
                            </div>

                            <div class="col-sm-6">
                                <div class="single_service margin-top-40">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="single_text_icon text-center">
                                                <img src="assets/images/zdj_1.jpg" alt=""><br /><br />
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="single_service_text_right textblack">
                                                <h6>Przykładowy Tekst</h6>
                                                <p>Firma rozwija własną myśl technologiczną, optymalizuje proces produkcyjny, wprowadza nowości techniczne. Zespół konstruktorów i technologów opracowuje innowacyjne rozwiązania konstrukcyjne.</p>

                                            </div>
                                        </div>
                                    </div>
                                </div><!--End of col-sm-6 -->
                            </div>

                            <div class="col-sm-6">
                                <div class="single_service margin-top-40">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="single_text_icon text-center">
                                                <img src="assets/images/zdj_2.jpg" alt=""><br /><br />
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="single_service_text_right textblack">
                                                <h6>Przykładowy Tekst</h6>
                                                <p>Firma rozwija własną myśl technologiczną, optymalizuje proces produkcyjny, wprowadza nowości techniczne. Zespół konstruktorów i technologów opracowuje innowacyjne rozwiązania konstrukcyjne.</p>

                                            </div>
                                        </div>
                                    </div>
                                </div><!--End of col-sm-6 -->
                            </div>

                            <div class="col-sm-6">
                                <div class="single_service margin-top-40">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="single_text_icon text-center">
                                                <img src="assets/images/zdj_3.jpg" alt=""><br /><br />
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="single_service_text_right textblack">
                                                <h6>Przykładowy Tekst</h6>
                                                <p>Firma rozwija własną myśl technologiczną, optymalizuje proces produkcyjny, wprowadza nowości techniczne. Zespół konstruktorów i technologów opracowuje innowacyjne rozwiązania konstrukcyjne.</p>

                                            </div>
                                        </div>
                                    </div>
                                </div><!--End of col-sm-6 -->
                            </div>

                            <div class="col-sm-6">
                                <div class="single_service margin-top-40">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="single_text_icon text-center">
                                                <img src="assets/images/zdj_4.jpg" alt=""><br /><br />
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="single_service_text_right textblack">
                                                <h6>Przykładowy Tekst</h6>
                                                <p>Firma rozwija własną myśl technologiczną, optymalizuje proces produkcyjny, wprowadza nowości techniczne. Zespół konstruktorów i technologów opracowuje innowacyjne rozwiązania konstrukcyjne.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--End of col-sm-6 -->
                            </div>
                        </div>
                    </div>
                </div>
            </section><!--End of service section -->

            

            <!--Counter section-->
            <section id="counter" class="counter counter_home1">
                <div class="home-overlay"></div>
                <div class="container">
                    <div class="row">  
                        <div class="col-sm-12">               
                            <div class="main_counter_area sections textwhite">
                                <div class="hexagon"></div>
                                <!--<div class="hexagon image"></div>-->
                                <!--<div class="hexagon double"></div>-->
                                <div class="row">
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="single_count_icon text-center margin-top-30">
                                                    <i class="fa fa-truck"></i>
                                                </div> 
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="single_counter_item">
                                                    <h2 class="statistic-counter wow fadeInDown animated">46</h2>
                                                    <p class="wow fadeInUp text-uppercase animated">Wykonanych Zabudów</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4 col-xs-12">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="single_count_icon text-center margin-top-30">
                                                   <i class="fa fa-smile-o"></i>
                                                </div> 
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="single_counter_item">
                                                    <h2 class="statistic-counter wow fadeInDown animated">38</h2>
                                                    <p class="wow fadeInUp text-uppercase animated">Zadowolonych klientów</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="single_count_icon text-center margin-top-30">
                                                    <!--<i class="fa fa-map-marker"></i>-->
                                                   <i class="fa fa-clock-o"></i>
                                                </div> 
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="single_counter_item">
                                                    <h2 class="statistic-counter wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">7</h2>
                                                    <p class="wow fadeInUp text-uppercase animated" style="visibility: visible; animation-name: fadeInUp;">Lat Działalności</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div><!-- End off row --> 
                </div><!-- End off container --> 
            </section><!-- End off counter section --> 


            <!-- extra features Section -->
            <section id="extrafeatures" class="extrafeatures">
                <div class="container">
                    <div class="row">
                        <div class="main_extrafeatures sections">
                            <div class="col-md-6 no-padding">
                                <div class="single_extrafeatures_img text-center">
                                    <img src="assets/images/auto.jpg" alt="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single_extrafeatures_text">
                                    <div class="head_title">
                                        <h2>Dlaczego My</h2>
                                        <p>BFZ to solidny i wiarygodny producent zabudów samochodowych. Swoją pozycję zawdzięcza długoterminowym działaniom nastawionym na innowacyjność, doskonalenie procesów i ciągłe podnoszenie jakości. </p>
                                        <div class="separator"></div>
                                    </div>
                                    <ul class="list">
                                        <li><i class="fa fa-check"></i> Solidne wykonanie</li>
                                        <li><i class="fa fa-check"></i> Innowacyjne pomysły</li>
                                        <li><i class="fa fa-check"></i> Nowoczesne rozwiązania</li>
                                        <li><i class="fa fa-check"></i> Gwarancja na 10 lat</li>
                                        <li><i class="fa fa-check"></i> Przemyślane funkcjonalności</li>
                                    </ul>
                                    
                                    <!--div class="extrafeatures_accordion">
                                        <div id="extrafeatures_accordion">
                                            <h6>01. Flipper lives in a world full of wonder flying</h6>
                                            <div>
                                                <div class="content">
                                                    <p>Above the law sunny days sweeping the clouds away fateful trip that started my way to 
                                                        where the air is sweet can you tell me how to get how to get to sesame street.</p>
                                                </div>
                                            </div>
                                            <h6>02. You would see the biggest gift from me</h6>
                                            <div>
                                                <div class="content">
                                                    <p>Above the law sunny days sweeping the clouds away fateful trip that started my way to 
                                                        where the air is sweet can you tell me how to get how to get to sesame street.</p>
                                                </div>
                                            </div>
                                            <h6>03. Make all our dreams come true for me and you</h6>
                                            <div>
                                                <div class="content">
                                                    <p>Above the law sunny days sweeping the clouds away fateful trip that started my way to 
                                                        where the air is sweet can you tell me how to get how to get to sesame street.</p>
                                                </div>
                                            </div>
                                            <h6>03. Make all our dreams come true for me and you</h6>
                                            <div>
                                                <div class="content">
                                                    <p>Above the law sunny days sweeping the clouds away fateful trip that started my way to 
                                                        where the air is sweet can you tell me how to get how to get to sesame street.</p>
                                                </div>
                                            </div>
                                            <h6>03. Make all our dreams come true for me and you</h6>
                                            <div>
                                                <div class="content">
                                                    <p>Above the law sunny days sweeping the clouds away fateful trip that started my way to 
                                                        where the air is sweet can you tell me how to get how to get to sesame street.</p>
                                                </div>
                                            </div>
                                            <h6>03. Make all our dreams come true for me and you</h6>
                                            <div>
                                                <div class="content">
                                                    <p>Above the law sunny days sweeping the clouds away fateful trip that started my way to 
                                                        where the air is sweet can you tell me how to get how to get to sesame street.</p>
                                                </div>
                                            </div>
                                        </div-->

                                    </div>

                                </div>
                            </div>
                        </div><!-- End off Main extra features -->

                    </div><!-- End off row -->
                </div><!-- End off container -->
            </section><!-- End off extra features section --> 

           


            <!-- call us section -->
            <section id="callus" class="callus">
                <div class="container">
                    <div class="row">
                        <div class="main_call_us_area main_call_us_area_home1 textwhite">
                            <div class="col-sm-9">
                                <div class="call_us_left_text">
                                    <h2>Czy mają Państwo jakieś pytania?</h2>
                                    <p>Zawsze odpowiadamy na zapytania w możliwie najkrótszym czasie</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="call_us_right_text">
                                    <a href="#" class="btn btn-default">Kontakt z nami</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End off call Us section -->


            <!--Footer section-->
            <footer class="footer">
                <div class="scrollup">
                    <a href="#"><i class="fa fa-chevron-up"></i></a>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="main_footer">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="copyright_text">
                                            <p class=" wow fadeInLeft" data-wow-duration="1s">&copy; 2017 bfz.com.pl :: wszelkie prawa zastrzeżone</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="copyright_text text-right">
                                            <p class=" wow fadeInRight" data-wow-duration="1s"><a href=":/maxkod.pl"><img src="assets/images/maxkod.png"></a> <a href=":/maxkod.pl">strony internetowe</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer><!-- End off footer Section--> 


<?php //$this->RenderBlock('footer'); ?>
